// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#category_button {
  background: #d8dadb;
  background-image: -webkit-linear-gradient(top, #d8dadb, #e6e6e6);
  background-image: -moz-linear-gradient(top, #d8dadb, #e6e6e6);
  background-image: -ms-linear-gradient(top, #d8dadb, #e6e6e6);
  background-image: -o-linear-gradient(top, #d8dadb, #e6e6e6);
  background-image: linear-gradient(to bottom, #d8dadb, #e6e6e6);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #0f0f0f;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#category_button:hover {
  background: #737373;
  text-decoration: none;
}

.btn-default {
	width:150px;
}
